<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/templateFront.xhtml">
    
    
<ui:define name="title"> Add NewsLetter </ui:define>
<ui:define name="content">



</ui:define>
</ui:composition>