<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>

   
    <h:title></h:title>


	 <!-- Styles -->

    <h:outputStylesheet library="css" name="app.min.css"  />
    <h:outputStylesheet library="css" name="thejobs.css"  />
    <h:outputStylesheet library="css" name="custom.css"  />
			
	
	<h:outputStylesheet library="css" name="magnific-popup.css"  />
	<h:outputStylesheet library="css" name="icon-fonts.css"  />
	<!-- Slider -->
	
    <!-- Fonts -->
	<h:outputStylesheet library="css" name="font.css"  />
    

    <!-- Favicons -->
	
   
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

 
   
</h:head>

<h:body class="nav-on-header smart-nav">
		

	<ui:include src="/template/headerFront.xhtml" />	
	<ui:insert name="content"></ui:insert>
	
	<ui:include src="/template/footerFront.xhtml" />

  
			
	
</h:body>


    <h:outputScript library="js" name="app.min.js"  />
     <h:outputScript library="js" name="thejobs.js"  />
     <h:outputScript library="js" name="custom.js"  />      


</html>

