<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>

   
    <h:title></h:title>


     <h:outputStylesheet library="css" name="bootstrap.min.css"  />

    <!-- MetisMenu CSS -->
      <h:outputStylesheet library="css" name="metisMenu.min.css"  />    
      <h:outputStylesheet library="css" name="sb-admin-2.css"  />       
      
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

 
   
</h:head>

<h:body class="nav-on-header smart-nav">
    <div id="wrapper">
	<ui:include src="/template/header.xhtml" />	
	<ui:insert name="content"></ui:insert>
	<ui:include src="/template/footer.xhtml" />
	</div>
			
	
</h:body>


    <h:outputScript library="js" name="jquery.min.js"  />

     <h:outputScript library="js" name="bootstrap.min.js"  />


     <h:outputScript library="js" name="metisMenu.min.js"  />
  
     <h:outputScript library="js" name="sb-admin-2.js"  />
  



</html>

