<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">
	   
	
<h:head>
<title>add new Job</title>
</h:head>

<h:body>
<h2 > please give job details </h2>
<p:tooltip/>
<h:form  enctype="multipart/form-data">

<p:outputLabel  value="please choose an image" /> 				
				<p:fileUpload style="width:700px;" value="#{adbean.file}" fileUploadListener="#{adbean.handleFileUpload}" mode="advanced" dragDropSupport="false"
           sizeLimit="1000000" fileLimit="1"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />



<h:panelGrid columns="2">
<p:outputLabel value="Job title"/>
<p:inputText  placeholder="title" value="#{adbean.titre}"/>
<p:outputLabel value="Job description"/>
<p:inputText  placeholder="description" value="#{adbean.description}"/>




<p:outputLabel for="datetime" value="Date expiration du challenge" />
 <p:calendar id="datetime" value="#{adbean.dateDebut}" pattern="MM/dd/yyyy HH:mm:ss" />

<p:outputLabel for="datetime1" value="Date expiration du challenge" />
 <p:calendar id="datetime1" value="#{adbean.dateFin}" pattern="MM/dd/yyyy HH:mm:ss" />


<p:outputLabel value="Job location"/>
<p:inputText  placeholder="location" value="#{adbean.lieu}"/>

<p:outputLabel value="Job Tasks"/>
<p:inputText  placeholder="tasks" value="#{adbean.taches}"/>




</h:panelGrid>
<h:panelGrid>



</h:panelGrid>
<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
<p:commandButton type="submit" value="Create" ajax="False"
				actionListener="#{adbean.doCreateJob}"  /> <br></br>
				
				<p:commandButton type="submit" value="Stats" ajax="False"
				action="#{adbean.bbJOB()}"  /> <br></br>


</h:form>

</h:body>
</html>