a<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Login </title>
</h:head>
<body>
<h2>Login </h2>
	<br />
<h:form id="form">
<h:panelGrid columns="2">
<h:outputText value="login"/>
<h:inputText value="#{loginBean.login}" />
<h:outputText value="password" />
<h:inputSecret value="#{loginBean.password}" />
<h:commandButton id="btn" action="#{loginBean.doLogin()}" value="login" />
<h:message for="btn"/>
</h:panelGrid>
</h:form>
</body>
</html>