<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Register</title>
</h:head>
<h:body>
	<h2>Register </h2>
	<br />
<h:form id="form">
			<h:panelGrid columns="2">
				<h:outputText value="login (email)" />
				<h:inputText value="#{appUserBean.email}" />

				<h:outputText value="password" />
				<h:inputSecret value="#{appUserBean.password}" />

				<h:outputText value="nom" />
				<h:inputText value="#{appUserBean.nom}" />

				<h:outputText value="prenom" />
				<h:inputText value="#{appUserBean.prenom}" />

                <h:outputText value="phone" />
				<h:inputText value="#{appUserBean.phone}" />

				<h:outputText value="Actif / Inactif" />
				<h:selectBooleanCheckbox value="#{appUserBean.actif}" />

				<h:outputText value="Role" />
				<h:selectOneMenu value="#{appUserBean.role}">
					<f:selectItem itemLabel="Selectionner le role" itemValue="" />
					<f:selectItems value="#{dataRole.roles}" />
				</h:selectOneMenu>
				<h:commandButton action="#{appUserBean.addUser()}"
					value="Register" />
				<h:commandButton action="#{appUserBean.mettreAjourUser()}"
					value="Mettre ton profil à jour" />
			</h:panelGrid>
		</h:form>
		<h:form>
			<h:commandButton action="#{loginBean.doLogout()}" value="logout" />
		</h:form>
		<h:dataTable value="#{appUserBean.users}" var="us" border="1">
			<h:column>
				<f:facet name="header">
					<h:outputText value="login" />
				</f:facet>
				<h:outputText value="#{us.email}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="nom" />
				</f:facet>
				<h:outputText value="#{us.nom}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="prenom" />
				</f:facet>
				<h:outputText value="#{us.prenom}" />
			</h:column>

            <h:column>
				<f:facet name="header">
					<h:outputText value="phone" />
				</f:facet>
				<h:outputText value="#{us.phone}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="role" />
				</f:facet>
				<h:outputText value="#{us.role}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Actif" />
				</f:facet>
				<h:outputText value="#{us.isActif == true ? 'Oui' : 'Non'}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Action" />
				</f:facet>
				<h:form>
					<h:commandButton action="#{appUserBean.supprimer(us.id)}"
						value="Supprimer" />
					<h:commandButton action="#{appUserBean.modifier(us)}"
						value="Modifier" />
				</h:form>
			</h:column>
		</h:dataTable>
		</h:body>
		</html>