<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	<h:head>
	<title>add new Job</title>
</h:head>

<h:body>
<h2>
 JOB DETAILS </h2>

<h:form id="form">
     <p:inputText id="txt" value="#{adbean.text}" required="true" label="Text 1">
     </p:inputText>  
    
     <p:commandButton update="@form" value="Search" action="#{adbean.doSearchJob(adbean.text)}"/>
        <p:commandButton type="submit" value="Stats" ajax="False"
				action="#{adbean.bbJOB()}"  /> <br></br>
    <p:dataGrid var="car" value="#{adbean.doSearchJob(adbean.text)}" columns="3" layout="grid"
        rows="12" paginator="true" id="cars"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="6,12,16">
      
     
 
        <f:facet name="header">
            JOB VOLENTEER
        </f:facet>
 
        <p:panel header="#{car.idJobV}" style="text-align:center">
            <h:panelGrid columns="1" style="width:100%">
             
                <h:outputText value="#{car.titre}" />
                
                  <p:graphicImage name="img/#{car.image}" width="100" height="50"/> 
 
                <p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()" title="View Detail">
                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                    <f:setPropertyActionListener value="#{car}" target="#{adbean.jj}" />
                </p:commandLink>
            </h:panelGrid>
        </p:panel>
 
    </p:dataGrid>
 
    <p:dialog header="Job Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="carDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty adbean.jj}" columnClasses="label,value">
                <f:facet name="header">
                </f:facet>
 
                <h:outputText value="Titre" />
                <h:outputText value="#{adbean.jj.titre}" />
                
 
                <h:outputText value="Date debut" />
                <h:outputText value="#{adbean.jj.dateDebut}" />
 
                <h:outputText value="Date fin" />
                <h:outputText value="#{adbean.jj.dateFin}" style="color:#{dataGridView.selectedCar.color}"/>
 
                <h:outputText value="Description" />
                <h:outputText value="#{adbean.jj.description}" />
                
                 <h:outputText value="Taches" />
                <h:outputText value="#{adbean.jj.taches}" />
                
                <h:outputText value="Lieu" />
                <h:outputText value="#{adbean.jj.lieu}" />
                
                <p:graphicImage name="img/#{adbean.jj.image}" width="100" height="50"/> 
                
                
             
                
                <p:commandButton type="submit" value="update"
				action="#{adbean.gotoupdateJOB(adbean.jj.idJobV)}"  /> <br></br>
				   <p:commandButton type="submit" value="delete"
				action="#{adbean.DeleteJOB(adbean.jj.idJobV)}"  /> <br></br>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
</h:form>

</h:body>
</html>