<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	<h:head>
	<title>add new Job</title>
</h:head>

<h:body>
<h2>
please give job details </h2>

<h:form>
<h:panelGrid columns="2">
<p:outputLabel value="Job title"/>
<p:inputText  placeholder="title" value="#{adbean.titre1}"/>
<p:outputLabel value="Job description"/>
<p:inputText  placeholder="description" value="#{adbean.description1}"/>
<p:outputLabel value="Job location"/>
<p:inputText  placeholder="location" value="#{adbean.lieu1}"/>
<p:outputLabel value="Job Tasks"/>
<p:inputText  placeholder="tasks" value="#{adbean.taches1}"/>
<p:outputLabel value="Date Debut"/>
<p:inputText  placeholder="data Debut" value="#{adbean.dateDebut1}"/>
</h:panelGrid>
<h:panelGrid>



</h:panelGrid>
<p:commandButton type="submit" value="Create"
				action="#{adbean.updateJOB(adbean.idJobV1)}"  /> <br></br>


</h:form>

</h:body>
</html>