<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title><ui:insert name="title" /></title>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<h:body>

	<div id="container">
		<table id="identity-nav">
			<tr>
				<td>
					<div>
						<ui:include src="/WEB-INF/template/identity.xhtml" />
					</div>
				</td>
			</tr>

		</table>
		<div>
			<!-- <ui:include src="/WEB-INF/template/client-nav.xhtml" /> -->
		</div>


		<div id="content">

			<ui:insert name="content">
</ui:insert>


			
		</div>
		<div id="footer">
			<h3>
				<i>OpenLab Project(B1) Java EE - ESPRIT 2017</i>
			</h3>
		</div>
	</div>
</h:body>
</html>