<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/template/templateFront.xhtml">
	   
	   <ui:define name="content">
	   
	   	<iframe style="width:100%;height:600px" src="http://localhost:18080/EasyMission-web/addJob.jsf"></iframe>
	   </ui:define>
	   
</ui:composition>